<div class="myPanel">
  <mat-accordion>
    <!-- Traveller details -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          TRAVELLER'S DETAILS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="details">
        <div>
          <h2>
            TRIP ID 7398313
          </h2>
        </div>
        <div>
          <img
            class="eye"
            src="../../../assets/icons/iconfinder_eye_preview_see_seen_view_392505.png"
            alt="eye"
          />
        </div>
        <div class="converted">CONVERTED</div>
        <div>
          Quote worth 24,0000 seen
        </div>
        <div>
          Dr. Krishnan
          <div>
            +91 9872558613
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Documents -->

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DOCUMENTS
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="documents">
        <div>
          <h3>PASSPORT</h3>
          <small> <a href=""> VIEW</a></small>
        </div>
        <div>
          <h3>PANCARD</h3>
          <small> <a href=""> UPLOAD</a></small>
        </div>
        <div>
          <h3>OTHER'S</h3>
          <small> <a href=""> UPLOAD</a></small>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
